html{
    overflow-x: hidden;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
}

a{
    color:rgba(255,255,255,.85);
    text-decoration: none;
}

a:hover{
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
}}



.bg-dark{
	background-color: #0E0B16!important;
}

.intro{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    align-items: center;
    justify-self: flex-start;
    width:100vw;
}

body{
    background-color:	#284B63 ;
    font-family: 'Roboto Slab', serif;
}

#introcontent{
    padding: 15px;
    margin: auto;
    color:white;
}

.row{
    margin:0;
}

.info{
    margin-top:30px;
    font-size:1.2rem;
}

.jumbotron{
    color:white;
    background-color: rgba(14, 11, 22,0.5);
}

#address{
    min-width: 80vw;
}

.btn{
    margin:20px;
}

.btn-dark{
    background-color: rgba(14, 11, 22,0.9)
}

#contact, #contactform{
    margin-top:30px;
}

.productcard{
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.container-fluid{
    padding-bottom:20px;
    
}
  
/*Centering and reducing size of product card images*/
.card-img-top{
    margin:auto;
    width:80%;
}

.card-title{
    padding:20px;
}

#belowcards{
    margin-top:40px;
}

a:hover{
    text-decoration: none;
}

#spacetop{
    display: flex;
    flex-direction: column;
    align-items: center;
}